/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");

*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background-image: url(Aqua\ Blue\ &\ Tan\ Fun\ Beach\ Location\ Zoom\ Virtual\ Background.jpg);
}

.container{
  display: flex;
}

nav{
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  background-image: url(Aqua\ Blue\ &\ Tan\ Fun\ Beach\ Location\ Zoom\ Virtual\ Background.jpg);
  width: 280px;
  overflow: hidden;
  box-shadow: 0 20px 35px black;
}

.logo{
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
}

.logo img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.logo span{
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

a{
  position: relative;
  color: rgb(24, 2, 2);
  font-size: 14px;
  display: block; /* Changed from table to block */
  padding: 10px;
}

nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}

.nav-item{
  position: relative;
  top: 12px;
  margin-left: 10px;
}

a:hover{
  background: #eee;
}

.logout{
  position: absolute;
  bottom: 0;
  left: 0; /* Added to specify left alignment */
}

/* Main Section */
.main{
  position: relative;
  padding: 20px;
  width: calc(100% - 280px); /* Adjusted to accommodate the width of the sidebar */
}

.main-top{
  display: flex;
  justify-content: space-between; /* Added for spacing */
}

.main-top i{
  margin: 10px 30px;
  color: rgb(110, 109, 109);
  cursor: pointer;
}

.main-skills{
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap; /* Added for responsive layout */
}

.main-skills .card{
  flex: 1 1 25%; /* Adjusted for responsive layout */
  margin: 10px;
  background: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(228, 8, 8, 0.1);
}

.main-skills .card h3{
  margin: 10px;
  text-transform: capitalize;
}

.main-skills .card p{
  font-size: 12px;
}

.main-skills .card button{
  background: rgb(74, 67, 64);
  color: #fff;
  padding: 7px 15px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.main-skills .card button:hover{
  background: rgba(223, 70, 15, 0.856);
}

.main-skills .card i{
  font-size: 22px;
  padding: 10px;
}

/* Courses */
.main-course{
  margin-top: 20px;
  text-transform: capitalize;
}

.course-box{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.course-box ul{
  list-style: none;
  display: flex;
}

.course-box ul li{
  margin: 10px;
  color: gray;
  cursor: pointer;
}

.course-box ul .active{
  color: #000;
  border-bottom: 1px solid #000;
}

.course-box .course{
  display: flex;
}

.box{
  flex: 1 1 33%; /* Adjusted for responsive layout */
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background: rgb(235, 233, 233);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.box p{
  font-size: 12px;
  margin-top: 5px;
}

.box button{
  background: #000;
  color: #fff;
  padding: 7px 10px;
  border-radius: 10px;
  margin-top: 3rem;
  cursor: pointer;
}

.box button:hover{
  background: rgba(0, 0, 0, 0.842);
}

.box i{
  font-size: 7rem;
  float: right;
  margin: -20px 20px 20px 0;
}

.html{
  color: rgb(25, 94, 54);
}

.css{
  color: rgb(104, 179, 35);
}

.js{
  color: rgb(28, 98, 179);
}
/* chat bot */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #05baec;
  transition: all 0.2s ease;
}
body.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}
.chatbot-toggler span {
  color: #fff;
  position: absolute;
}
.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child  {
  opacity: 0;
}
body.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}
.chatbot {
  position: fixed;
  right: 35px;
  bottom: 90px;
  width: 420px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
  transition: all 0.1s ease;
}
body.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.chatbot header {
  padding: 16px 0;
  position: relative;
  text-align: center;
  color: #fff;
  background: #05baec;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.chatbot header span {
  position: absolute;
  right: 15px;
  top: 50%;
  display: none;
  cursor: pointer;
  transform: translateY(-50%);
}
header h2 {
  font-size: 1.4rem;
}
.chatbot .chatbox {
  overflow-y: auto;
  height: 510px;
  padding: 30px 20px 100px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.chatbox .chat {
  display: flex;
  list-style: none;
}
.chatbox .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}
.chatbox .incoming span {
  width: 32px;
  height: 32px;
  color: #fff;
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  background: #05baec;
  border-radius: 4px;
  margin: 0 10px 7px 0;
}
.chatbox .chat p {
  white-space: pre-wrap;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  color: #fff;
  font-size: 0.95rem;
  background: #05baec;
}
.chatbox .incoming p {
  border-radius: 10px 10px 10px 0;
}
.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}
.chatbox .incoming p {
  color: #000;
  background: #f2f2f2;
}
.chatbot .chat-input {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 3px 20px;
  border-top: 1px solid #ddd;
}
.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  max-height: 180px;
  padding: 15px 15px 15px 0;
  font-size: 0.95rem;
}
.chat-input span {
  align-self: flex-end;
  color: #724ae8;
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  visibility: hidden;
  font-size: 1.35rem;
}
.chat-input textarea:valid ~ span {
  visibility: visible;
}
@media (max-width: 490px) {
  .chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }
  .chatbot {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }
  .chatbot .chatbox {
    height: 90%;
    padding: 25px 15px 100px;
  }
  .chatbot .chat-input {
    padding: 5px 15px;
  }
  .chatbot header span {
    display: block;
  }
}
